<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789823064360-k44dp11l6n9khm1da08e51pgq4felapi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789823064360-k44dp11l6n9khm1da08e51pgq4felapi</string>
	<key>API_KEY</key>
	<string>AIzaSyCcxPTdD66XtxnerlT_Ye6IMPbgw2IpdNA</string>
	<key>GCM_SENDER_ID</key>
	<string>789823064360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Takuto0124.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-6c7d5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-6c7d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789823064360:ios:e91ab4dc05605c47cfe81d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-6c7d5.firebaseio.com</string>
</dict>
</plist>